
/* note: This css file is loaded after page load.
   Don't put anything here that would result in FOUC.
*/

#mw-inlinecomments-addicon {
	cursor: pointer;
	border: 1px dashed grey;
	border-radius: 2px;
	/* the plus in the icon is transparent */
	background-color: white;
}

#mw-inlinecomments-addicon:hover {
	border: 1px dashed black;
}

#mw-inlinecomments-addicon span {
	margin: 0;
	opacity: 0.8;
}

#mw-inlinecomments-addicon:hover span {
	opacity: 1;
}

.userAutocompleteDropdown {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-width: 0.5px;
}

.userAutocompleteDropdownItem {
	display: block;
	padding: 3px;
	text-decoration: none;
	color: black;
}

.userAutocompleteDropdownItem:hover {
	background-color: #2a4b8d;
	color: white;
	text-decoration: none;
}
